//миксины адаптивного размера шрифта

@use 'sass:math';
@use 'functions' as *; //используем ряд функций из папки "_functions.scss"

//аргументы максимального и минимального размера шрифта в пикселях

@mixin fluid-text($max: 32, $min: 14) {
  font-size: fluid($max, $min);
}

//визуально скрывать элементы с плавным переходом транзишен для реализации оверлей меню(если решу дополнить)
@mixin hide {
  opacity: 0;
  visibility: hidden;
}

//визуально отображать элементы
@mixin show {
  opacity: 1;
  visibility: visible;
}

//разворачивается в ряд flex свойств для
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

//абсолютное позиционирования  по обеим осям
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

//абсолютное позиционирования  по X осям
@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

//абсолютное позиционирования  по Y осям
@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

// рисует квадрат определенного размера(если решу применить)
@mixin square($size) {
  width: $size;
  height: $size;
}
// рисует прямоугольник определенного размера(если решу применить)
@mixin rectangle($width, $height: $width) {
  // width: $width;
  height: $height;
  max-width: $width;
}

//набор css свойства для визуального сокрытия элемента
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

//для обрезания текста после 2 строк
@mixin line-clamp($lines: 2, $line-height: 1.35) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  overflow: hidden;
  line-height: $line-height;
  max-height: calc(#{$line-height} * #{$lines} * 1.2em);
}

// @mixin line-clamp($lines: 2, $line-height: 1.35) {
//   display: -webkit-box;
//   // Специальный тип отображения для WebKit-браузеров,
//   // без него -webkit-line-clamp не работает
//   -webkit-box-orient: vertical;
//   // Задаёт вертикальное направление содержимого,
//   // нужно, чтобы строки шли сверху вниз
//   -webkit-line-clamp: $lines;
//   // Ограничивает количество строк текста (WebKit-реализация)
//   line-clamp: $lines;
//   // Стандартное (нативное) CSS-свойство для ограничения строк,
//   // работает в современных браузерах (актуально в 2026)
//   overflow: hidden;
//   // Скрывает текст, который выходит за пределы блока
//   // Самое важное для борьбы с обрезкой букв
//   line-height: $line-height;
//   // Явно задаёт высоту строки,
//   // предотвращает обрезание нижних частей букв
//   max-height: calc(#{$line-height} * #{$lines} * 1.2em);
//   // Ограничивает максимальную высоту блока:
//   // высота строки × количество строк + запас,
//   // защищает от визуальных багов и обрезки текста
