@use '../../../styles/helpers/' as *;
.buttons {
  display: flex;
  //  align-items: center;
  align-items: flex-end;
  justify-self: center;
  //  align-items: center;
  // padding-top: rem(60);
  color: var(--color-likeCount);
  font-family: var(--font-family-accent);
  font-size: 20px;
}

.button {
  width: rem(44);
}

.quantity {
  display: flex;
  align-items: center;
  padding: 0 rem(20);
}
