@use '../../../styles/helpers/' as *;
.content {
  flex-grow: 1;
  background-color: var(--color-mint-mint);
  border: var(--border);
  border-radius: rem(20);
  box-sizing: border-box;
  margin: 0;
}
