@use '../../../styles/helpers/' as *;

// .heartIconCards :global(.contour),
// .heartIconCards :global(.main-body) {
//   /* Закругляет концы линий и углы соединений */
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   /* Толщина линии сделает углы менее заметными */
//   stroke-width: 2px;
// }
