//подключаем шрифты преобразуем их в формат ('woff2') на сайте https://transfonter.org/ смотреть видео про шрифты с 15-17 минуты https://www.youtube.com/watch?v=hkYzqTKnSIg&t=1041s

@font-face {
  font-family: 'Kranky-Regular';
  src: url('../fonts/Kranky-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//*********

// h1
@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/KumbhSans-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//p, а
@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/KumbhSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//кнопки
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//описание товара
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
