//глобальные стили проекта

@use 'helpers' as *;

//! Проверяем работу миксинов
// body {
//   padding: 100px;
// }

// p {
//   @include fluid-text(48, 16);

//   width: rem(100);

//   @include mobile {
//     background-color: rgb(109, 70, 70);
//   }
// }

//когда будет открываться меню оверлей  основной скрол страницы по вертикале будет замирать
html {
  &.is-lock {
    overflow: hidden;
  }
}

// 18,14 от дистопа до мобильная версии 47:21
body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  //
  letter-spacing: -0.03em;
  font-family: var(--font-family-base);
  box-sizing: border-box;
  background-color: var(--color-mint-cream);
  // color: var(--color-olive-green);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-likeCount);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-base);
  font-weight: 700;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
}

p,
.p {
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-dusty-purple);

  //  color: repeating-radial-gradient(
  //   circle closest-corner at 100px 100px,
  //   #bde609,
  //   #b393d3 10%,
  //   #17eb10 20%
  // );
}

//размер текста от дисткопа до мобилки
//line-height в проекте 120% это 1.2
h1,
.h1 {
  @include fluid-text(32, 14);
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(24, 14);
  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(22, 14);
}

// h4,
// .h4 {
//   @include fluid-text(26, 18);
// }

// h5,
// .h5 {
//   @include fluid-text(24, 18);
// }

// h6,
// .h6 {
//   @include fluid-text(20, 16);
// }

//плавность интерактивным элементам

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
  text-decoration: none;
}

a {
  color: inherit;

  @include hover {
    color: var(--color-golden);
  }

  &[class] {
    text-decoration: none;
  }
}

//убираем точку
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//состояние фокусировки c клавиатуры 57:50

:focus-visible {
  outline: rem(2) dashed var(--color-golden);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

//селектор ко всем ссылкам и кнопкам которые содержат только иконку
a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(32));

      content: '';
    }
  }
}
