@use 'helpers' as *;

//! Утилитарные классы
// (Utility Classes) — это классы CSS, которые выполняют одно конкретное действие или вычисляют одно конкретное свойство. Их цели облегчить быструю и гибкую стилизацию элементов HTML, избегая написания повторяющегося CSS-кода и уменьшая размер CSS-файлов.

// – класс-обертка, чтобы все блоки сайта имели одинаковую ширину и отступы.

//var(--container-width)-основная ширина контента,
// var(--container-padding-x)-внутренние отступы слева и справа.
// 2 — потому что отступы с двух сторон.
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto; //Ставит контейнер по центру страницы (слева и справа авто-отступы
  margin-top: rem(85);
  padding-inline: var(
    --container-padding-x
  ); //Внутренние отступы для контента, чтобы текст и блоки не прилипали к краям.
}
