@use 'helpers' as *;

//пишем силектор корневого элемента переменные цветов

:root {
  //градиент кнопки
  --gradient: linear-gradient(
    45deg,
    var(--color-dusty-purple) 64%,
    var(--color-golden) 136%
  );

  //переменная для рамки(серая черта)
  --border: #{rem(2)} solid var(--color-frame);

  //переменная для добавления тени рамки контактов при наведении First Name 9:55
  --shadow: 0 0 0 #{rem(4)} --color-bottom;

  //семейство шрифтов
  --font-family-base: 'Inter', sans-serif;
  --font-family-main: 'Kumbh Sans', sans-serif;
  --font-family-accent: 'IndieFlower-Regular', sans-serif;
  --font-family-bottom: 'Roboto', sans-serif;

  // параменты контентной сетки контейнера padding 16 это расстояние между основным размером и контертом буз такой конструкции переменная работать не будет #{rem(1600)} 42:00
  --container-width: #{rem(1734)};
  --container-padding-x: #{rem(16)}; // горизонтальные границы внутриннего контейнера

  //микро-анимация транзишен
  --transition-duration: 0.6s;

  // Переменные для темной светлой темы
  --color-dusty-purple: #682909;
  --color-likeCount: #d3500f;
  --color-bottom: #d1987b;
  --color-mint-cream: #b3e0d2;
  --color-mint-mint: #9da8a5;
  --color-frame: #648a7e;
  --color-dark: #3f4643;
  --heart-heart: #fc0744;
}

[data-theme='dark'] {
  --color-dusty-purple: #fd7f40;
  --color-likeCount: #f3bca0;
  --color-bottom: #533728;
  --color-mint-cream: #265243;
  --color-mint-mint: #253531;
  --color-frame: #609282;
  --color-dark: #254236;
  --heart-heart: #aa022c;
}
