@use '../../../styles/helpers/' as *;

.footer {
  padding: fluid(60, 20);
  border-top: var(--border);

  @include mobile {
    display: grid;
    justify-items: center;
  }
}

.footerNavigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: var(--color-mint-cream);
  border: var(--border);
  border-radius: rem(20);
  padding: rem(1);

  @include mobile {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    width: fluid(600, 314);
  }

  @include mobile-s {
    max-width: rem(272);
  }
}

.blockOnlineStore {
  padding: rem(20);

  @include mobile {
    display: grid;
    justify-items: center;
  }
}

.sectionContent {
  display: flex;
  align-items: center;
  justify-items: center;
  color: var(--color-likeCount);
  font-family: var(--font-family-accen);
  font-weight: 700;
  font-size: fluid(20, 16);
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.link {
  text-align: center;
  color: var(--color-dusty-purple);
  font-family: var(--font-family-bottom);
  font-weight: 400;
  font-size: fluid(18, 14);
  line-height: 1.4;
  padding-top: rem(10);

  @include hover {
    color: var(--color-likeCount);
  }

  @include mobile {
    display: grid;
    justify-items: center;
  }
}

//*******

.socialAndSubscribe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: start;
  padding-top: rem(30);

  @include laptop {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-template-areas:
      'subscribe'
      'social';

    .subscribe {
      grid-area: subscribe;
    }

    .socialLinks {
      grid-area: social;
    }
  }
}

.copyrightNotice {
  color: var(--color-dusty-purple);
  font-family: var(--font-family-bottom);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: rem(10);

  @include mobile-s {
    text-align: center;
  }
}

.socialLinks {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: rem(15) rem(2) 0;
  gap: rem(20);
}

.icon {
  width: rem(40);
  height: rem(40);
  color: var(--color-dusty-purple);

  @include hover {
    color: var(--color-likeCount);
  }
}

.subscribe {
  display: flex;
  justify-self: end;
  gap: rem(20);

  @include laptop {
    justify-self: center;
  }

  @include mobile {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.input {
  width: rem(350);

  @include mobile-s {
    width: rem(270);
  }
}

.button {
  width: rem(150);
}
