@use '../../../styles/helpers/' as *;

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(50) rem(60) rem(10);

  @include laptop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    transition-duration: var(--transition-duration);
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.searchTitle {
  font-family: var(--font-family-bottom);
  font-size: fluid(40, 20);
  color: var(--color-dusty-purple);
  text-transform: uppercase;

  @include laptop {
    padding-bottom: rem(10);
  }

  @include mobile-s {
    font-size: rem(18);
    font-family: var(--font-family-main);
    text-align: center;
    padding: rem(10);
    margin: auto 0;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: rem(20);

  @include tablet {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    transition-duration: var(--transition-duration);
  }
}

.input {
  @include mobile-s {
    font-size: rem(14);
    padding: rem(1);
    margin: auto 0;
  }
}

// .button {
//   text-transform: uppercase;
//   width: rem(150);

//   @include laptop {
//     display: flex;
//     // gap: rem(15);
//     padding: rem(12);
//   }
// }

.icon {
  display: flex;
  min-width: rem(30);
  padding-right: rem(1);
  margin-left: auto;
  padding: rem(2);

  @include mobile {
    // display: none;
  }
}

.count {
  font-size: rem(16);
  font-weight: 600;

  @include mobile-s {
    font-size: rem(16);
  }
}
//  line-height: rem(48); //* центрируем по вертикали (равно height)
