@use '../../../styles/helpers/' as *;

.button {
  background: transparent;
  border: none;

  //кнопки шапка
  &.headerButton {
    @include buttonBase;

    min-height: rem(44);
    gap: rem(8);
    font-size: fluid(15, 13);
    font-weight: 600;
    padding: rem(10) rem(12);

    @include mobile {
      gap: rem(6);
      font-size: rem(13);
      min-height: rem(40);
      padding: rem(8) rem(10);
    }

    @include mobile-s {
      display: flex;
      border-radius: rem(10);
      min-height: rem(36);
      padding: rem(8);

      .count {
        display: none;
      }
    }
  }

  //кнопка ошибка
  &.error {
    @include buttonBase;
    max-width: rem(390);
    height: rem(70);
    //  padding: rem(112) rem(124);

    @include mobile {
      width: 200px;
      // width: 100%;
      height: rem(40);
      //  padding-top: rem(120);
      //    padding-left: 300px;
    }
  }

  //****
  //кнопка корзина карточка
  &.primary {
    @include buttonBase;
    gap: rem(20);
    border: var(--border);
    white-space: nowrap;
    min-width: rem(70);
    height: rem(40);
    padding: rem(12) rem(24);

    @include mobile {
      width: rem(65);
      height: rem(30);
    }
    @include mobile-s {
      width: rem(45);
    }
  }

  //кнопки день, ночь, земля
  &.toggle {
    width: rem(60);
    height: rem(60);
    padding: 0;
  }

  //сердечко
  &.like {
    width: rem(40);
    height: rem(40);
    padding: 0;
  }
}

@include laptop {
  .button {
    &.primary {
      display: flex;
      gap: rem(5);
      min-width: rem(70);
      padding: rem(10) rem(24);
    }
  }
}

@include tablet {
  .button {
    &.primary {
      display: flex;
      gap: rem(5);
      min-width: rem(90);
      padding: rem(10) rem(24);
    }
  }
}

@include mobile {
  .button {
    &.primary {
      display: flex;
      gap: rem(4);
      font-size: rem(14);
      border-radius: rem(8);
      min-width: rem(90);
      padding: rem(14) rem(20);
    }
  }
}

@include mobile-s {
  .button {
    &.primary {
      min-width: rem(60);
    }
  }
}
