.wrapper {
  position: relative;
}

.earth {
  background: none;
  border: none;
  padding: 0;
  img {
    width: 60px;
    height: 60px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: none;
  border-radius: 8px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  padding: 0.4rem;
  cursor: pointer;

  img {
    width: 60px;
    height: 60px;
  }
}
