@use '../../../styles/helpers/' as *;

.wrapper {
  position: relative;
}

.earth {
  background: none;
  border: none;
  padding: 0;
  img {
    width: 60px;
    height: 60px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: none;
  padding: rem(5);
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: rem(10);

  img {
    width: 60px;
    height: 60px;
  }
}
