@use '../../../styles/helpers/' as *;

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(60);
}

.table {
  text-align: center;
}

.title {
font-family: var(--font-family-bottom);
}

.imgFavorites {
  width: rem(150);
}

.text {
  font-size: rem(20);
font-family: var(--font-family-bottom);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: fluid(40, 20);
  padding: fluid(60, 20);

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    padding: rem(50) rem(50);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
