@use '../../../styles/helpers/' as *;

.input {
  text-align: center;
  text-transform: uppercase;
  border: var(--border);
  opacity: 0.8;
  font-size: rem(18);
  line-height: rem(48);
  border-radius: rem(12);
  background-color: var(--color-mint-cream);
  padding: rem(1) rem(24);
  // box-shadow:
  //   2px 2px 16px #9da8a5,
  //   -2px -2px 16px #648a7e;
  box-shadow: -2px -2px 5px var(--color-frame);
    

  //для добавления тени рамки контактов при наведении
  @include hover {
    box-shadow: var(--shadow);
    border-color: var(--color-likeCount);
    transition: box-shadow var(--transition-duration) ease;
  }

  //текст внутри поля
  &::placeholder {
    color: var(--color-dusty-purple);
    transition: opacity 0.3s ease;
  }

  @include mobile-s {
    font-size: rem(14);
    margin: auto 0;
    padding: rem(1);
  }
}
