@use '../../../styles/helpers/' as *;

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  border: var(--border);
  background-color: var(--color-mint-mint);
  box-shadow:
    2px 2px 0px var(--color-likeCount),
    -2px -2px 5px var(--color-frame);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  padding: 20px;
  padding-top: 40px;
  max-height: 100vh;
  max-width: 600vh; /* ограничиваем высоту */
  overflow-y: auto; /* вертикальная прокрутка */

  @include tablet {
    width: rem(600);
  }

  @include mobile {
    width: rem(420);
  }

  @include mobile-s {
    width: rem(320);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding-bottom: rem(30);
}

.heartIconCards {
  width: rem(60);
  color: var(--color-dusty-purple);

  @include hover {
    color: var(--color-likeCount);
  }
}

.titleModal {
  font-size: rem(25);
  text-align: center;
  white-space: normal; /* разрешаем перенос строк */

  @include mobile-s {
    font-size: rem(20);
  }
}

.button {
  width: rem(150);
  height: rem(40);

  &.toggle {
    padding: 0;
    margin-left: auto;
  }
}

//крестик
.close {
  font-size: rem(40);
  font-weight: 700;
  cursor: pointer;
  color: var(--color-dusty-purple);

  @include mobile-s {
    font-size: rem(30);
  }

  &:hover {
    color: var(--color-likeCount);
  }
}

.image {
  object-fit: cover;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 300px;

  @media (min-width: 1211px) {
    width: 200px;
    height: 200px;
  }
}

.modalContent {
  display: grid;
  grid-template-areas:
    'image'
    'characteristics'
    'description';
  grid-template-columns: 1fr;
  gap: 10px;
  overflow-y: auto;
  max-height: 70vh; //палока скрола
  max-width: 100%;
  padding-right: 20px;

  @media (min-width: 1211px) {
    grid-template-areas:
      'image characteristics'
      'description description';
    grid-template-columns: 200px 1fr;
  }
}

//скрол
.modalContent::-webkit-scrollbar {
  width: 10px;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: var(--color-frame);
  border-radius: 3px;
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-likeCount);
}

.priceBasket {
  display: flex;
  justify-content: space-between;
  padding-top: rem(20);

  @include mobile {
  }
}

.priceModal {
  font-size: rem(30);
  color: var(--color-likeCount);

  @include mobile {
    font-size: rem(25);
  }
}

.price {
  padding-left: rem(20);
}

.icon {
  max-width: rem(30);

  @include mobile {
    max-width: rem(25);
  }
}
