@use '../../../styles/helpers/' as *;

.cards {
  @include rectangle(rem(210), rem(260));

  margin: rem(20) rem(98) 0;
  padding: rem(10);
  color: var(--color-black);
  // background-color: transparent;
  background-color: var(--color-mint-mint);
  border: var(--border);
  border-radius: rem(20);
}

.imgCards {
  display: grid;
  grid-template-columns: 25% 1fr;
  // background-color: var(--color-mint-mint);
}

.toy {
  padding-bottom: rem(5);
}

.description {
  display: inline;
  justify-content: center;
}

.title {
  display: inline-block;
  font-family: var(--color-likeCount);
  font-size: fluid(16, 10);
  letter-spacing: rem(1);
  text-align: center;
  padding: rem(10);
  font-weight: 700;
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(14);
}

.button {
  font-size: rem(10);
  width: rem(30);
  height: rem(30);
  padding: rem(5);
}
