@use '../../../styles/helpers/' as *;

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  justify-items: center;
  gap: fluid(40, 20);
  padding: fluid(60, 20);

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    padding: rem(50) rem(50);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: zoom-in;
  background-color: var(--color-mint-cream);
  border: var(--border);
  border-radius: rem(20);
  // box-sizing: border-box;
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  width: 100%;
  max-width: rem(320);
  padding: rem(20);

  &:hover {
    box-shadow:
      2px 2px 0px var(--color-likeCount),
      -2px -2px 5px var(--color-frame);
    transform: translateY(-5px);
  }

  @include mobile {
    max-width: rem(390);
  }
  @include mobile-s {
    max-width: rem(272);
  }
}

.heartIconCards {
  color: var(--color-dusty-purple);
  height: fluid(40, 20);
  width: fluid(40, 20);

  @include hover {
    color: var(--color-likeCount);
  }
}

.imgCards {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.toy {
  cursor: zoom-in;
  object-fit: cover;
  width: rem(150);
  padding-bottom: rem(5);

  @include mobile-s {
    width: rem(100);
  }
}

.title {
  font-family: var(--color-likeCount);
  font-size: rem(20);
  letter-spacing: rem(1);
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: rem(10);

  @include laptop {
    font-size: rem(18);
  }
  @include mobile {
    font-size: rem(25);
  }

  @include mobile-s {
    font-size: rem(14);
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-likeCount);
  font-size: rem(20);
  text-transform: uppercase;

  @include laptop {
    font-size: rem(16);
  }

  @include tablet {
    font-size: rem(20);
  }

  @include mobile {
    font-size: rem(23);
  }

  @include mobile-s {
    font-size: rem(14);
  }
}

.button {
  font-size: rem(10);
  width: rem(30);
  height: rem(30);
  padding: rem(5);

  @include tablet {
    width: rem(20);
    height: rem(20);
  }
}

.basketIconCards {
  max-width: rem(20);
  color: var(--color-dusty-purple);

  @include mobile-s {
    min-width: rem(15);
    height: rem(20);
  }
}
