@use '../../../styles/helpers/' as *;

.cards {
  @include square(rem(190));

  // margin: rem(10) auto 0;

  // display: flex;
  // gap: rem(20);
  //   flex-direction: column; //выставляем элементы в колонку
  //   justify-content: space-between;
  padding: rem(10) rem(10);
  color: var(--color-black);
  background-color: transparent;
  background-color: var(--color-mint-mint);
  // border: none;
  border: var(--border);
  border-radius: rem(12);
  // justify-content: flex-end;
}

.imgCards {
  // display: flex;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 40% 1fr;
  // background-color:rgb(226, 149, 149);
  // background-color:var(--color-mint-mint);
}

.heartIconCards {
  //  padding: rem(19);
  // background-color:rgb(185, 197, 228);
}

.toy {
  // background-color:rgb(12, 156, 31);
}
