@use '../../../styles/helpers/' as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: zoom-in;
  border-radius: rem(20);

  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  overflow: hidden;
  width: 100%;
  max-width: rem(320);
  height: auto;
  padding: rem(20);
  contain: content;

  &:hover {
    box-shadow:
      2px 2px 0px var(--color-likeCount),
      -2px -2px 5px var(--color-frame);
    transform: translateY(-5px);
  }

  @include tablet {
    max-width: rem(350);
  }

  @include mobile {
    max-width: rem(390);
  }

  @include mobile-s {
    max-width: rem(272);
  }
}

// .heartIconCards {
//   position: absolute;
//   top: rem(12);
//   left: rem(12);
//   z-index: 2;
//   color: var(--color-dusty-purple);
//   height: fluid(40, 20);
//   width: fluid(40, 20);

//   @include hover {
//     color: var(--color-likeCount);
//   }
// }

.imgCards {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden; // лишние части будут скрыты
  background-color: var(--color-mint-cream);
  border: var(--border);
  border-radius: rem(20);
  aspect-ratio: 6 / 7; //ширина / высота.
  width: 100%;
}

.toy {
  cursor: zoom-in;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.title {
  font-family: var(--color-likeCount);
  font-size: rem(20);
  letter-spacing: rem(1);
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: rem(10);

  @include laptop {
    font-size: rem(18);
  }
  @include mobile {
    font-size: rem(25);
  }
  @include mobile-s {
    font-size: rem(14);
    padding-bottom: 42px;
  }

  @include line-clamp(2, 1.5); //...2 сколько строк, 1.5 интервал межстрочный
}

//! при наведении показываем весь текст
// .title:hover {
//   -webkit-line-clamp: unset;
//line-clamp: unset; //для будущего, когда будет доступно везде
//   overflow: visible;
//   display: block;
//   white-space: normal;
// }

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-likeCount);
  font-family: var(--font-family-accent);
  font-size: rem(20);
  text-transform: uppercase;
  padding: rem(10) 0;

  @include laptop {
    font-size: rem(16);
  }

  @include tablet {
    font-size: rem(20);
  }

  @include mobile {
    font-size: rem(25);
  }

  @include mobile-s {
    font-size: rem(14);
  }
}

.button {
  font-size: rem(10);
  padding: rem(5);

  @include tablet {
    width: rem(20);
    height: rem(20);
  }
}

.basketIconCards {
  max-width: rem(20);
  color: var(--color-dusty-purple);

  @include mobile-s {
    min-width: rem(15);
    height: rem(20);
  }
}
//***
.heartIconCards {
  position: absolute;
  display: block; /* чтобы размеры применялись корректно */
  cursor: pointer;
  transition: transform 0.2s ease;
  top: rem(12);
  left: rem(12);
  z-index: 2;
  color: var(--color-dusty-purple);
  height: fluid(60, 30);
  width: fluid(60, 30);
}

//Закругляет концы линий сердечка и углы соединений
.heartIconCards :global(.contour) {
  stroke-linejoin: bevel;
  stroke: currentColor; /* Добавляем обводку того же цвета, что и заливка */
  stroke-width: 2;
}

//увеличения сердечка при наведении
.heartIconCards:hover {
  transform: scale(1.1);
}

/* квадратики в контуре */
.heartIconCards :global(.contour) {
  fill: var(--heart-heart);
}

//анимация при закрашивании сердечка hover
.heartIconCards :global(.main-body) {
  fill: transparent; //управляет заливкой сердечка прозрачная
  transition: fill 0.3s linear;
}

.heartIconCards :global(.sparks) {
  opacity: 0;
}

//!СОСТОЯНИЕ ЛАЙКНУТО (is-liked)
.heartIconCards:global(.is-liked) :global(.main-body),
.heartIconCards:global(.is-liked) :global(.core) {
  fill: var(--heart-heart); /* Здесь ставим яркий цвет */
  animation: beat 0.6s ease-in-out;
}

//свечение при нажатии
.heartIconCards:global(.is-liked) :global(.sparks) {
  opacity: 1;
  fill: var(--heart-heart);
  animation: sparks 0.8s ease-out forwards;
  stroke: currentColor; /* Добавляем обводку того же цвета, что и ободок */
  stroke-width: 1;
}

//Анимации искорки Используется с animation: beat 0.8s ease-in-out infinite;
@keyframes beat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.35);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateY(-20px);
  }
}

//! При нажатии вокруг сердечка появляются «искры»:
// opacity: 1 делает их видимыми,
// fill: var(--heart-hover) задаёт цвет,
// animation: sparks 0.8s ease-out forwards; запускает анимацию вспышки и исчезновения,
// stroke: currentColor; stroke-width: 1; добавляет обводку того же цвета, что и контур сердечка.
