@use '../../../styles/helpers/' as *;

.header {
  display: grid;
  grid-template-columns: 52% 1fr;
  padding: rem(43) rem(60);

  @include mobile {
    grid-auto-flow: row; /* меняем направление */
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: rem(10);
    width: 100%;
    padding: rem(20) rem(20);
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  gap: rem(10);
}

.logo {
  display: flex;
  width: rem(100);
  height: auto;
}

.brand {
  display: flex;
  flex-direction: column; /* элементы идут сверху вниз */
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}

.title {
  display: block;
  font-family: var(--color-dusty-purple);
  font-size: fluid(40, 20);
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: rem(10);
}

.slogan {
  display: block;
  font-size: fluid(25, 14);
  font-weight: 700;
  padding-left: rem(20);
  width: 100%;
}

.menu {
  display: grid;
  align-items: center;
  grid-auto-flow: column; // на десктопе в строку
  gap: fluid(30, 14);

  @include mobile {
    gap: rem(10);
  }
}

.list {
  min-height: 100%;
  height: auto;
  padding-top: rem(12);
}

.navigation {
  display: grid;
  gap: rem(20);

  @include mobile {
    gap: rem(10);
  }
}

.icon {
  border-color: var(--color-likeCount);
  width: fluid(20, 10);
  height: fluid(20, 10);
}

.count {
  font-size: fluid(16, 10);
  color: var(--color-green-grey);
}

//Буква при регистрациии если понадобится
// .username {
//   margin-left: 0.5rem;
//   font-weight: 500;
//   color: #333; // или свой цвет
//   display: inline-block;
//   opacity: 0;
// }

//*************************

//! Grid-свойства:
// grid-template-columns: 52% 1fr;   //* делим контейнер: левая колонка 52%, правая — остаток
// grid-auto-flow: row;              //* элементы идут друг за другом сверху вниз
// grid-template-columns: 1fr;       //* на мобилке: одна колонка на всю ширину
// grid-auto-flow: column;           //* элементы идут в строку (по колонкам)
// align-items: center;              //* выравнивание по вертикали (работают и там, и там)
// overflow: hidden;                 //* обрезаем содержимое, выходящее за пределы (работают и там, и там)

//! Flex-свойства:
// display: inline-flex;             //* кнопка — flex-элемент, ведёт себя как inline
// flex-direction: column;           //* элементы внутри сверху вниз
// justify-content: flex-start;      //* прижаты к началу (слева/сверху)
// justify-content: center;          //* по центру по горизонтали
// align-items: center;              //* выравнивание по вертикали (работают и там, и там)
// overflow: hidden;                 //* обрезаем содержимое, выходящее за пределы (работают и там, и там)
