// @use '../helpers' as *;

.header {
  background-color: #fff;
  padding: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_part_logoSvg {
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: #333;
}

.link_active {
  font-weight: bold;
}
