@use '../../../styles/helpers/' as *;

.cardsBasket {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  border-radius: rem(32);
  border: var(--border);
  border-radius: rem(32);
  padding: rem(20);
}

.headerBasket {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: var(--border);
  color: var(--color-dusty-purple);
  width: 100%;
  height: 100%;
}

.basketTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.total {
  font-size: 1.8rem;
  font-weight: bold;
}

.listItem {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto auto auto;
  grid-template-areas: 'image title counter price';
  align-items: start;
  column-gap: rem(20);
  background-color: var(--color-mint-cream);
  border: var(--border);
  border-radius: rem(32);
  padding: rem(16);

  &:hover {
    box-shadow:
      2px 2px 0px var(--color-likeCount),
      -2px -2px 5px var(--color-frame);
    transform: translateY(-5px);
  }
}

.toy {
  grid-area: image; /* область в Grid */
  max-width: rem(120);
  cursor: zoom-in;
}

.itemTitle {
  grid-area: title; /* область в Grid */
  padding: 0 rem(20);

  @include line-clamp(2, 1.5); //...2 сколько строк, 1.5 интервал межстрочный
}

//! при наведении показываем весь текст
.itemTitle:hover {
  -webkit-line-clamp: unset; // ограничивает количество строк,экспериментальное свойство, доступное только в WebKit/Blink браузерах (Chrome, Safari, Edge).
  line-clamp: unset; //для будущего, когда будет доступно везде
  overflow: visible;
  display: block;
  white-space: normal;
  cursor: pointer;
}

.singlePrice {
  font-size: rem(12);
  color: var(--color-dusty-purple);
}

.counter {
  grid-area: counter; /* область в Grid */
}

.priceContainer {
  grid-area: price; /* область в Grid */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-likeCount);
  font-size: rem(18);
}

.actions {
  position: absolute;
  display: flex;
  gap: 28px;
  right: rem(16);
  bottom: rem(16);
}

.heartIconCards {
  color: var(--color-dusty-purple);

  @include hover {
    color: var(--color-likeCount);
  }
}

.deleteIconCards {
  color: var(--color-dusty-purple);

  @include hover {
    color: var(--color-likeCount);
  }
}
