@use '../../../styles/helpers/' as *;

.cardsBasket {
  display: flex;
  flex-direction: column;
  // align-items: start;
  justify-self: center;
  gap: 20px;
  border-radius: rem(32);
  // background-color: rgb(192, 236, 13);
  // color: rgb(61, 93, 236);
  border: var(--border);
  //  min-width: 800px;
  border-radius: rem(32);
  padding: rem(20);
}

.headerBasket {
  display: flex;
  align-items: start;
  justify-content: space-between;
  // background-color: magenta;
  border-bottom: var(--border);
  color: var(--color-dusty-purple);
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

// Итоговая сумма
.total {
  font-size: 1.8rem;
  font-weight: bold;
}

.listItem {
  // background-color: rgb(183, 198, 241);
  background-color: var(--color-mint-cream);
  display: grid;
  grid-template-areas: 'image . title . price . quantity';
  grid-template-columns: min-content 216px auto 32px 80px 32px;
  border: var(--border);
  border-radius: rem(32);
  padding: rem(10);

  &:hover {
    box-shadow:
      2px 2px 0px var(--color-likeCount),
      -2px -2px 5px var(--color-frame);
    transform: translateY(-5px);
  }
}

.toy {
  max-width: rem(120);
  cursor: zoom-in;
  grid-area: image; /* область в Grid */
}

.title {
  grid-area: title; /* область в Grid */
  padding: 0 rem(20);
}

.singlePrice {
  font-size: rem(12);
  color: var(--color-dusty-purple);
}

.counter {
  grid-area: quantity; /* область в Grid */
}

.heartIconCards {
  width: rem(60);
  color: var(--color-likeCount);
}

.priceContainer {
  display: flex;
  flex-direction: column; /* Ставим одну цену под другую */
  align-items: center;
  grid-area: price; /* область в Grid */
  color: var(--color-likeCount);
  font-size: rem(18);
}

.deleteIconCards {
  color: var(--color-dusty-purple);
}
