@use '../../../styles/helpers/' as *;

.cardsBasket {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
  gap: 20px;
   border-radius: rem(32);
  background-color: rgb(192, 236, 13);
  color: rgb(61, 93, 236);
  border: var(--border);
   min-width: 800px;
}

.headerBasket {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: magenta;
  border-bottom: var(--border);
  width: 100%;
  height: 100%;
  // padding: rem(14) rem(60);
  // align-items: stretch;
  // box-sizing: border-box;
  // display: flex;
  // flex: 1;
  // flex-direction: column;
  // width: rem(300);
  // min-width: 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

// Итоговая сумма
.total {
  // margin-top: 2rem;
  // text-align: right;
  font-size: 1.8rem;
  font-weight: bold;
  //  text-align: center;
  // padding: 1rem 2rem;
  // background: rgba(255, 255, 255, 0.1);
  // border-radius: 12px;
}

.listItem {
  // background-color: royalblue;
  display: grid;
  grid-template-areas: 'image . title . price . quantity';
  grid-template-columns: min-content 116px auto 32px 80px 32px 131px;
  // position: relative;
  padding: rem(20);
}

.toy {
  max-width: rem(120);
  cursor: zoom-in;
}

.price {
  display: flex;
}
