@use '../../../styles/helpers/' as *;

.cardsGrid {
  display: flex;
flex-direction: column;
  gap: 20px;
}

.listItem {
  display: flex;
}

.toy {
  max-width: rem(120);
}

.price {
  display: flex;
}