@use '../../../styles/helpers/' as *;

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: fluid(40, 20);
  padding: fluid(60, 20);

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    padding: rem(50) rem(50);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
