@use '../../../styles/helpers/' as *;

.subscribe {
  display: flex;
  justify-self: end;
  gap: rem(20);

  @include laptop {
    justify-self: center;
  }

  @include mobile {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.imgOk {
  max-height: rem(170);
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border: var(--border);
  border-radius: rem(12);
  color: var(--color-likeCount);
}

.clearButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-dusty-purple);

  @include hover {
    color: var(--color-likeCount);
  }
}

.input {
  width: rem(350);
  padding-right: 40px; /* Чтобы текст не прятался под крестик */

  @include mobile-s {
    width: rem(270);
  }
}

.count {
  @include mobile-s {
    font-size: rem(10);
  }
}
